<body>
    <div id="wrapper">
        <div id="banner">
            <h1>About Me</h1>
        </div>
          <video width="320" height="240" controls poster="on_record.png" id="video">
            <source src="./Assets/Videos/AboutMe.mp4" type="video/mp4"> 
            </video>
        </div>
    <img src ="./Assets/Images/Image.jpg" width="195" height="300"/>

     <div id="right-column">
        <h2>Some Fun Facts About Me! </h2>
        
        <div class="box">
            <p>I'm currently in my second year of university!</p>
        </div>
        <div class="box">
            <p>I draw from time to time!</p>
        </div>
        <div class="box">
            <p>I have an older brother!</p>
        </div>
        <div class="box">
            <p>Pizza is my favourite food!</p>
        </div>
        <div class="box">
            <p>I like to collect manga!</p>
        </div>
        <div class="box">
            <p>I was originally planning to go into engineering instead of business!</p>
        </div>