<body>
    <img src ="./Assets/Images/Project1.png" class = "project1" width="435" height="490"/>
    <img src ="./Assets/Images/Project2.png" class = "project2" width="435" height="490"/>
    <img src ="./Assets/Images/Project3.png" class = "project3" width="435" height="490"/>
    <div id="wrapper">
        <div id="banner">
            <h1>Projects</h1>
                    <h4>Some projects/assignments I've worked on!</h4>
                    <h5>Creating class diagrams for Object Oriented Programming!</h5>
                    <h6>Researching and writing about Video Game Development!</h6>
                    <b>Creating association rules to help prevent spam emails in Cybercrime!</b>